name: LAPRAS Card

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-card:
    name: LAPRAS Card
    runs-on: ubuntu-slim
    steps:
      - uses: kawamataryo/lapras-card-readme@main
        with:
          SHARE_ID: "AY80GVN"
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LANG: "en"
